
#shutterfly_add, #shutterfly_cart {
  padding: 0px;
  padding-left: 21px;
  background-repeat: no-repeat;
  background-position: 0 -1px;
  position: relative;
}

#shutterfly_add {
  background-image: url("photo-option-add.png");
}
#shutterfly_cart {
  background-image: url("cart.png");
}